*{
  padding: 0px;
  margin: 0px;
}
.section{
  background-image: url(images/73470487_450641412474938_480698090114428038_n.jpg);
  height: 750px;
  background-repeat:no-repeat;
  position: absolute;
  width: 100%;
  background-size: cover;
  filter:brightness(60%);
}
.ndienye{
  color: white;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Allerta Stencil';
}
.nav-section nav a{
 color: white;
 text-decoration: none;
 font-family: 'Allerta Stencil';
}
.nav-section nav{
  display: flex;
  flex-direction: row;
  margin-left: 48%;
 justify-content: space-evenly;
}
.hello{
  color:whitesmoke;
  top: 9%;
  margin-top: 20%;
  margin-left: 9%;
  font-size:40px;
  font-family: 'Allerta Stencil';
  justify-content: space-around;
}
.project{
  background-color:#36454f ;
}
.design{
  margin-top: 2%;
}
.sam{
  margin-top: 2%;
}