*{
  padding: 0px;
  margin: 0px;
}
.section{
  background-image: url(images/sam.jpg);
  height: 700px;
  width: 100%;
  filter:brightness(58%);
  padding-top: 1px;
}
.ndienye{
  color: orangered;
  margin-top: 3%;
  margin-left: 4%;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Allerta Stencil';
}
.nav-section nav a{
 color: white;
 text-decoration: none;
 font-family: 'Allerta Stencil';
 padding: 85px;
}
.nav-section nav{
 margin-left: 57%;
 position: absolute;
 bottom: 0%;
 background-color: black;
 display: flex;
 flex-direction: column;
 left: 26%;
}
.hello{
  color:whitesmoke;
  top: 9%;
  margin-top: 20%;
  margin-left: 9%;
  font-size:40px;
  font-family: 'Allerta Stencil';
  justify-content: space-around;
}
.project{
  background-color: #36454f;
  height: 360px;
  padding-top:3% ;
}
.projects{
color: whitesmoke;
font-family: 'Allerta Stencil';
margin-left: 46%;
font-size: 22px;
padding-bottom: 3%;
}
.projects::after{
  content: '';
  height: 3px;
  width: 5%;
  background: orangered;
  position: absolute;
  left:46.9%;
  top:800px;
}
.design{
  margin-top: 2%;
}
.sam{
  margin-top: 2%;
}
.about{
  background-color: #36454f;
  margin-top: 1%;
  height: 700px;
}
.me{
color: whitesmoke;
font-family: 'Allerta Stencil';
margin-left: 46%;
font-size: 22px;
padding-top: 6%;
}
.me::after{
  content: '';
  height: 3px;
  width: 5%;
  background: orangered;
  position: absolute;
  left:46.9%;
  top:1225px;
}