.section{
  background-image: url(images/73470487_450641412474938_480698090114428038_n.jpg);
  height: 800px;
  background-repeat:no-repeat;
  width: 100%;
  position: relative;
  background-size: cover;
  filter:brightness(60%);
}
.ndienye{
  color: white
}
.nav-section nav a{
 color: white;
 position: relative; 
 left: 45%;
 margin-left: 10%;
}